.profile-gallery {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 25px 0px #52793780;
  justify-content: center;
}

.image-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 205px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 10px;
  flex-shrink: 0;
}

.profile-thumbnail img {
  width: 185px;
  height: 235px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.content {
  display: none;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.image-wrap.active {
  flex-direction: row;
  align-items: flex-start;
  width: 500px;
  flex-shrink: 0;
}

.image-wrap.active .profile-thumbnail {
  width: 230px;
  height: 300px;
  margin-right: 20px;
  flex-shrink: 0;
}

.image-wrap.active .profile-thumbnail img {
  height: 100%;
  width: 100%;
  transform: scale(1.05);
}

.image-wrap.active .content {
  display: block;
  text-align: left;
}

.about-contender-logo img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* Tablet devices */
@media (max-width: 768px) {
  .profile-thumbnail {
    display: flex;
    justify-content: center
  }

  .profile-gallery {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
  }

  .image-wrap {
    /* width: 45%;  */
    margin-bottom: 20px;
  }

  .image-wrap.active {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .image-wrap.active .profile-thumbnail {
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
  }

  .image-wrap.active .profile-thumbnail img {
    width: 215px;
    height: 250px;
  }

  .image-wrap.active .content {
    text-align: center;
  }

  .about-contender-logo {
    justify-content: center;
  }
}


/* Mobile devices */
@media (max-width: 576px) {
  .profile-gallery {
    flex-direction: column;
    gap: 15px;
    overflow-x: unset;
  }

  .image-wrap {
    width: 100%;
  }

  .image-wrap.active {
    width: 100%;
  }

  .about-contender-logo {
    justify-content: center;
  }

  .about-contender-logo img {
    width: 20px;
    height: 20px;
  }

  .content p {
    font-size: 14px;
  }

  .content h5 {
    font-size: 18px;
  }

  .content h6 {
    font-size: 16px;
  }
}