.about-content-main{margin-top: 35px !important;gap: 50px !important;}
.about-content-left-container{width: 48% !important;}
.about-content-right-container{width: 48% !important;}

.about-content-text{padding-top: 220px;}
.about-content img {object-fit:contain;}

@media screen and (max-width: 768px) {
.about-content-image {flex-wrap:wrap;}
}
