.about-mission-section{display:flex; align-items:center; justify-content:center;margin-top: 100px;position: relative;}
.about-mission-section::after{content: "";position: absolute;width: 100%;height: 90%;left: 0;top: 50%;transform: translateY(-50%);z-index: 0; background-color:#B8DC9E;}
.about-mission-text{z-index: 1;position: relative;}
.about-mission-text h6{font-weight: 700;font-size: 40px;line-height: 60px;}
.about-mission-right-text{width: 80%; margin-top: 65px; margin-left: 65px;}
