<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/ServiceProviding.css">
  <link rel="stylesheet" href="../Global.css">
</head>

<body>
  <div class="container-xxl py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="feedback-text">
          <h2>
            What Can TakeTech Devs Provide You?</span>
          </h2>
          <p>TakeTech Devs is one of the top web development companies in India. We believe your ideas are unique, and
            we simply help to transform your ideas into reality. TakeTech has provided many Website Design and Website
            Development services with modernized features and techniques.</p>
          <p>We provide 100% responsive website compatible with desktops, laptops, tablets, and mobile phones. Along
            with this, businesses will also get end-to-end support from us, free of cost.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row gy-4">
          <div class="col-sm-6 d-flex justify-content-center">
            <div class="service-right-content">
              <div class="service-right-content-image">
                <img src="../assets/Service Icon 1.png" alt="">
              </div>
              <p>100% Responsive Website</p>
            </div>
          </div>
          <div class="col-sm-6 d-flex justify-content-center">
            <div class="service-right-content">
              <div class="service-right-content-image">
                <img src="../assets/Service Icon 2.png" alt="">
              </div>
              <p>Support after project completion</p>
            </div>
          </div>
          <div class="col-sm-6 d-flex justify-content-center">
            <div class="service-right-content">
              <div class="service-right-content-image">
                <img src="../assets/Service Icon 3.png" alt="">
              </div>
              <p>Full Premium Quality Product</p>
            </div>
          </div>
          <div class="col-sm-6 d-flex justify-content-center">
            <div class="service-right-content">
              <div class="service-right-content-image">
                <img src="../assets/Service Icon 4.png" alt="">
              </div>
              <p>Free Consultation for projects/ any queries</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>