.service-right-content {
    background-color: #B8DC9E;
    width: 350px;
    height: 110px;
    padding-top: 60px;
    box-shadow: -15px 10px 20px 0px #52793740;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-right-content-image {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px -5px 25px 0px #98C97480;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .service-right-content-image img {
    object-fit: contain;
  }
  
  .service-right-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 90px 0;
    justify-content: center;
  }
  
  @media screen and (max-width: 575px) {
    .service-right-grid {padding-top: 70px;}
}
  
  
  