.about-contender-section{background-color: #fff;box-shadow: 0px 0px 25px 0px #52793780;
}
.about-contender-image img{width:380px;height: 400px;}
.about-contender-content h6{font-weight: 400;font-size: 20px;}
.about-contender-content p{font-weight: 400;font-size: 16px;}
.about-contender-logo{height: 30px;width: 30px;}
.about-contender-logo img{height: 25px;width: 25px;object-fit: cover;}

