.blog-card {position:relative; width:320px; height:700px; overflow:hidden;transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;}
.blog-card img {object-fit:cover;}
.blog-card:hover {transform: scale(1.05);cursor: pointer;}
.blog-content {position:absolute; bottom:0; height:290px; display: flex; flex-direction: column; justify-content: end; background: #FFFFFFCC;padding:20px 25px; text-align:center;}
.blog-content h5{line-height: 50px;font-size: 22px;}

@media screen and (max-width: 768px) {
    .blog-card {
      height: 600px;
    }
    .blog-content {
      height: 250px;
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .blog-card {
      height: 500px;
      width: 100%;
    }
    .blog-content {
      height: 260px;
      padding: 10px;
    }
  }