.blog-like-text h6{font-weight: 700;font-size: 40px;line-height: 80px;}
.blog-like-card {position:relative; width:410px; height:650px; overflow:hidden;transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;}
.blog-like-card img {width: 410px;height:370px;object-fit:cover;}
.blog-like-content {position:absolute; bottom:0; height:290px; display: flex; flex-direction: column; justify-content: end; background: #FFF;padding:20px 25px;}
.blog-like-content h5{line-height: 50px;font-size: 22px;}

@media screen and (max-width: 768px) {
    .blog-like-card {
      height: 640px;
    }
    .blog-like-content {
      height: 285px;
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .blog-like-card {
      height: 625px;
    }
    .blog-like-content {
      height: 275px;
      padding: 10px;
    }
  }