.contact-section {background-color:#B8DC9E; height:240px; display:flex; align-items:center; justify-content:center;}
.contact-image {width:585px; height:370px; display:flex; justify-content:center;}
.contact-image img {object-fit:contain;}
.contact-text {text-align:left; margin-top:100px;}
.subscription-form {display:flex; background-color:#fff; border-radius:21px; align-items:center; width:480px; padding-left:10px;}
.subscription-form input {flex-grow:1; padding:10px; border:none; border-radius:21px 0 0 21px; font-size:16px;}
.subscription-form input:focus {outline:none; box-shadow:none; border:none;}
.subscription-form button {background-color:#E8B145; color:#000; border:none; padding:10px 20px; border-radius:21px; font-weight:400; cursor:pointer;}
.subscription-form button:hover {background-color:#d79b38; color:#000;}

@media (max-width: 768px) {
.contact-section {flex-direction:column; text-align:center; padding:30px 15px;}
.contact-image {margin-top:0; margin-left:0;}
.subscription-form {max-width:100%;}
}