.contact-upper{background-size:100% 100%; background-image: url(../assets/header.png);height: 120vh;}
.contact-banner-text{padding-block-start: 90px; padding-inline-end: 80px;}
.contact-banner-image{height: auto;max-height: 100%;width: 100%;display: flex;justify-content: end;align-items: center;padding-block-start: 90px;}
.contact-banner-image img{object-fit: contain;}

@media screen and (max-width: 768px) {
    .contact-banner-text {
      padding-inline-end: 20px;
    }
    .contact-banner-image {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .contact-upper{height: 230vh; background-size: cover;}
    .contact-banner-text {   
      padding-inline-end: 10px;
    }
    .contact-banner-image{padding-block-start: 5px;}
    .contact-banner-image img {
      width: 90%;
    }
  }
  