.contact-section {display:flex; align-items:center; justify-content:center;position: relative;}
.contact-section::after{content: "";position: absolute;width: 100%;height: 65%;left: 0;top: 50%;transform: translateY(-50%);z-index: 0; background-color:#B8DC9E;}
.contact-image {height: auto;max-height: 100%;width: 100%;display: flex;justify-content: end;align-items: center;z-index: 1;position: relative;}
.contact-image img {object-fit:contain;}
.contact-text{z-index: 1;position: relative;}
.subscription-form {display:flex; background-color:#fff; border-radius:21px; align-items:center; width:480px; padding-left:10px;max-width: 100%;}
.subscription-form input {flex-grow:1; padding:10px; border:none; border-radius:21px 0 0 21px; font-size:16px;}
.subscription-form input:focus {outline:none; box-shadow:none; border:none;}
.subscription-form button {background-color:#E8B145; color:#000; border:none; padding:10px 20px; border-radius:21px; font-weight:400; cursor:pointer;}
.subscription-form button:hover {background-color:#d79b38; color:#000;}
