.portfolio-image img {object-fit:contain;}

@media screen and (max-width: 768px) {
.portfolio-image {flex-wrap:wrap;}
}
@media screen and (max-width: 575px) {
    .portfolio-content {padding-top: 20px;}
}