.portfolio-content {margin-top:150px;}
.portfolio-image { height: 600px;}
.portfolio-image img {object-fit:contain;}

@media (max-width: 768px) {
.portfolio-content {max-width:100%;}
.portfolio-image {flex-wrap:wrap;}
}