.laptop-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* new */
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.laptop-background-image{
  /* width: 1060px; */
  width: 1092px;
}

.laptop-background {
  width: 100%;
  z-index: 1;
}

.carousel-inside-laptop {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap:5px;
  top: 45px;
  /* align-items: center; */
  /* bottom: 0; */
}

.carousel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 43px; */
  /* background-color: #B8DC9E; */
  width: 862px;
  height: 487px;
  /* margin-left: -12px; */
  /* margin-bottom: 150px; */
  position: relative;
  
}

/* .service-left {
  padding-bottom: 70px;
  padding-left: 15px;
  
} */

.service-details {
  position: absolute;
  top: 36px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
  text-align: center;
  box-shadow: 6px 7px 14px 0px #52793785;
  background-color: #fff;
  width: 335px;
  height: 433px;
  border-bottom: 32px solid #B8DC9E;
  border-right: 32px solid #B8DC9E;
  
}

.service-details-image {
  width: 200px;
  height: 120px;
}

.service-details-image img {
  object-fit: contain;
}

.service-details h4 {
  color: #3A5D21;
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
}

/* .service-details p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 200px;
} */

.service-right {
  padding-top: 50px;
  position: absolute;
  bottom: -56px;
  right: 3px;
}

.service-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 450px;
  height: 452px;
  background-color: #fff;
  box-shadow: -8px -4px 18px 0px #52793785;
  overflow: hidden;
  padding: 24px 0px 24px 32px;
  border-top: 32px solid #B8DC9E;
}

.service-image img {
  object-fit: cover;
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.slick-dots li button:before {
  color: #527937;
  font-size: 14px;
  width: 100%;
}

.slick-dots li.slick-active button:before {
  color: #B0D893;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .carousel-card {
    width: 90%;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .service-details {
    width: 200px;
    height: 320px;
  }
  .service-details-image {
    width: 160px;
    height: 90px;
  }
  .service-image {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .carousel-card {
    width: 100%;
    height: 160px;
  }
  .service-details {
    width: 160px;
    height: 280px;
  }
  .service-details-image {
    width: 140px;
    height: 80px;
  }
  .service-details h4 {
    font-size: 14px;
  }
  .service-details p {
    font-size: 11px;
    width: 140px;
  }
  .service-image {
    width: 250px;
    height: 250px;
  }
}