.laptop-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laptop-background {
  width: 100%;
  z-index: 1;
}

.carousel-inside-laptop {
  position: absolute;
  z-index: 2;
}

.carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
  background-color: #B8DC9E;
  width: 745px;
  margin-left: -12px;
  margin-bottom: 150px;
}

.service-left {
  padding-bottom: 50px;
}

.service-details {
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
  text-align: center;
  box-shadow: 6px 7px 14px 0px #52793785;
  background-color: #fff;
  width: 280px;
  height: 400px;
}

.service-details-image {
  width: 200px;
  height: 120px;
}

.service-details-image img {
  object-fit: contain;
}

.service-details h4 {
  color: #3A5D21;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.service-details p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 200px;
}

.service-right {
  padding-top: 50px;
}

.service-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 422px;
  height: 400px;
  background-color: #fff;
  box-shadow: -8px -4px 18px 0px #52793785;
  overflow: hidden;
  padding: 20px 0px 20px 20px;
}

.service-image img {
  object-fit: cover;
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.slick-dots li button:before {
  color: #527937;
  font-size: 14px;
  width: 100%;
}

.slick-dots li.slick-active button:before {
  color: #B0D893;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .carousel-card {
    width: 90%;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .service-details {
    width: 200px;
    height: 320px;
  }
  .service-details-image {
    width: 160px;
    height: 90px;
  }
  .service-image {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .carousel-card {
    width: 100%;
    height: 160px;
    /* gap: 10px; */
  }
  .service-details {
    width: 160px;
    height: 280px;
  }
  .service-details-image {
    width: 140px;
    height: 80px;
  }
  .service-details h4 {
    font-size: 14px;
  }
  .service-details p {
    font-size: 11px;
    width: 140px;
  }
  .service-image {
    width: 250px;
    height: 250px;
  }
}